.intro {
  display: flex;
  font-size: 1.8rem;
  padding: 10rem 0;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;

  &__desc {
    width: 50%;
    line-height: 2.2rem;
  }

  &__desc-title {
    font-weight: bold;
    margin-bottom: 20px;
    font-family: $OpenSansBold;
  }

  &__desc-text {
    margin-bottom: 20px;
  }

  &__image {
    width: 50%;
    text-align: center;
  }
}
