.header {
  background-image: url('../images/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  min-height: 500px;

  @media only screen and (min-width: 1025px) {
    background-image: url('../images/header-bg-2x.png');
  }

  &__logo {
    margin-left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }
}

.nav {
  font-family: $OpenSansBold;
  padding: 20px 0;
  font-size: 1.4rem;
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $black-transparent;
  z-index: 100;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__list-item {
    margin-right: 40px;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }
  }
}
