@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light.ttf');
}

@import 'variables';
@import 'reset';
@import 'main';
@import 'layout/layout';
@import 'components/components';
